.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(248, 162, 64);
  box-shadow: 0px 0px 3px 1px rgba(185, 185, 185, 1);
}

.description {
  text-align: center;
  font-weight: 500;
  color: black;
}

.avatar {
  border-radius: 50%;
  width: 190px;
  background-color: white;
}

.username {
  margin-top: 20px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.tag {
  margin-top: 10px;
}

.location {
  margin-top: 5px;
  margin-bottom: 10px;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.item {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 0.5px solid rgb(245, 133, 4);
  width: 100%;
  padding: 15px 0;
  background-color: rgb(247, 147, 34);
}

.label {
  padding-bottom: 10px;
  color: black;
  font-weight: bold;
}
