.transactionHistory {
    margin-top: 20px;
    width: 320px;
    overflow: hidden;
    text-align: center;
    background-color: rgb(248, 162, 64);
    margin-bottom: 20px;    
    box-shadow: 0px 0px 3px 1px rgba(185, 185, 185, 1);
}

.thead {
    background-color: rgb(248, 162, 64);
    text-transform: uppercase;
    height: 40px;
    font-size: 15px;
}

.tbody {
    height: 30px;
    background-color: beige;
}


.tbody:nth-child(even) {
    background-color: rgb(245, 245, 233);
}